/* 会引入重置标签元素的基本样式，小程序不支持去掉 */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Flexbox 布局 */
.flex-row {
  display: flex;
}
.flex-row-reverse {
  display: flex;
}
.flex-col {
  display: flex;
}
.flex-col-reverse {
  display: flex;
}
/* 兼容uniapp */
view {
  display: flex !important;
  position: relative;
  flex-direction: column;
}
